body {
	background: #ececec url(../images/bg.jpg);
	font: 13px/20px Tahoma, Geneva, sans-serif;
}
body,h1,h2,h3,p,ul,p, form,img {border: none;outline: none;margin: 0;padding: 0;}
img{border:none;}
.right{float:right;}
.tr{text-align:right;}
.tc{text-align:center;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.mt12{margin-top:12px;}
.top {width: 1000px;color: #fff;margin: auto;padding: 0 10px 0 0;}
.logo {padding: 10px;}
.header {background: none repeat scroll 0 0 #075FA7;border-bottom: 1px solid #FFF;}
.top a, .top span {font-size: 11px;color: #fff;text-decoration: none;display: inline-block;padding: 10px 0 10px 10px;}
.hidden{display:none;}
.wrapper{width:1000px;margin:0 auto;}
form .text{display:inline-block;}
#login-box{width:320px;margin:0 auto;padding:10px;border:solid 1px #CCC;margin-top:50px;}
#login-box h1 {font-size: 20px;margin: 10px 0;}
#form-data .text{width:100px;}
#login-box .normal{width:200px;}